export NODE_ENV="development"

export REDIS_HOST=localhost
export REDIS_PORT=6380

export GRAPHQL_PORT=3001
export GRAPHQL_FQDN=http://localhost:$GRAPHQL_PORT
export GRAPHQL_WEBPACK_PORT=3002
export GRAPHQL_JWT_SECRET=ttu3geo90t1uygjoaseopg3q902gjsal
export GRAPHQL_REDIS_URL=redis://$REDIS_HOST:$REDIS_PORT
